
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.4;

  background-image: url("../../assets/solidcolor.jpg");
}

header, main, footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

nav a {
  display: inline-block;
  margin-right: 12px;
  text-decoration: none;
  color: #222;
  padding: 6px 10px;
  border-radius: 6px;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.08);
}

form {
  display: grid;
  gap: 14px;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 12px;
}

label {
  display: inline-block;
  margin: 6px 0 4px;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0);
  border-radius: 6px;
}

.questions input[type="checkbox"] {
  width: auto;
  margin-left: 8px;
}

button {
  padding: 10px 14px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  background: rgba(59, 8, 32);
  color: white;
}

button:hover {
  background: rgb(65, 33, 48);
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  text-align: center;
  font-size: 10px;
}
