* {
    font-family: monospace;
    font-size: 1em;
    margin: 10px 5px 10px 5px
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

address, mail {
    font-size: 1.3rem;
}

p {
    font-size: 1.3rem;
}

body {
    background-color: #ffb6c1;
}

.name {
    background-color: #f47e90;
}

a {
    text-decoration: none; 
    color: black;
}

a:hover {
    color: #f4576e;
    font-weight: bold;
}

a:active {
    color: #f47e90;
}

a:visited {
    color: #f4576e;
}